body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  border: 2px solid yellowgreen;
}

/* Header Section */

.navbar {
  display: flex;
  align-items: center;
  background-color: #414040;
  padding: 10px 20px;
}

.logo img {
  height: 100px;
  width: auto;
}

.search-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.search-container input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 40%;
  border: none;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 20px;
  background-color: rgb(169, 132, 203);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

.createTaskButton {
  padding: 10px 20px;
  background-color: rgb(169, 132, 203);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createTaskButton:hover {
  background-color: #2e0457;
}

/* Modal container and content */

.modal {
  display: none; /* Hidden until Create Task is selected */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Style for the modal content */
.modal-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 25px;
  border: 1px solid #dddddd;
  width: 80%;
  max-width: 400px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Columns for days of the week */
.columns {
  column-count: 3;
  column-gap: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.close-button:hover {
  color: #ff0000;
}

.modal-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for form */
.modal-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
}

.modal-content input[type="text"],
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-content input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.modal-content input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Main Section */

.main-content {
  background-image: url("./images/dailytask.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
  width: 100%;
}
.matrix-title-days{
  display: flex;
  flex-direction: row;
}
.matrix{
   min-width: 30%;
}
.calendar{
  min-width: 70%;
}

#title-days{
  display: flex;
  flex-direction: row;
  border: solid 1px rgb(139, 126, 126);
  width:100%;
  height: 100%;
}

#matrix-title {
  padding: 0.20em 0;
} 
#matrix-title > p{
  margin: 0;
  font-size: 0.85em;
  padding-top: 0.65em;
  align-self: center;
 
}

.categoryName {
  background-color: rgb(169, 132, 203);
  font-size: 1rem;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}
.activityName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(218, 214, 222);
  padding: 0.25em;
}
.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.day-tasks{
  display: flex;
  flex-direction: row;
  width: 90%;
}
.days{
  width: 30%;
  padding: 5px;
  font-size: 0.5em;
  text-transform: capitalize;
}
.taskName {
  padding: 5px;
  font-size: 0.5em;
  width: 70%;
}
.task-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.task-days,
.task-description {
  flex: 1;
  margin: 0;
}

#days-of-month{
  display: flex;
  flex-direction: row;
  border: solid 1px rgb(139, 126, 126);
  padding: 0;
  width:100%;
}
#days-of-week {
  display: flex;
  flex-direction: row;
  border: solid 1px rgb(79, 69, 69);
  min-height: 10px;
  min-width: 45%;
  font-size: x-small;
  width: 26px;
}
.numDays {
  width: 1.1em;
  margin-top: 0;
  font-size: 0.75em;
  font-weight: bold;
}
.weeks{
  padding: 0;
  font-size: 0.75em;
  font-weight: bold;
}
.days-month {
  display: flex;
  flex-direction: column-reverse;
  font-size: 0.85rem;
  padding: 3px;
  border: solid 1px rgb(71, 67, 67);
  background-color: rgb(169, 132, 203);
}
.empty-column{
  background-color:rgba(251, 212, 14, 0.945);
  font-size:x-small;
  padding:0.15em;
}
.delete {
  background-color: transparent;
  border: none;
  width: 5%;
}

.fa-trash-can {
  color: transparent;
}
.fa-trash-can:hover,
.fa-trash-can:active {
  color: #055d4f;
}
/* Footer Section */

.footer-content {
  text-align: center;
  padding: 20px;
  background-color: #414040;
  color: white;
}

.footer-content a {
  color: rgb(169, 132, 203);
  text-shadow: 1px 1px #000000;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* Media Queries */

/* @media (min-width: 768px) {
  .matrix-title-days{
    width:100%;
  }
  
  #matrix-title {
    min-width: 35%;
    
  }
  #matrix-title > p{
    margin: 0;
    font-size: 0.5em;
    padding-top: 0.25em;
    align-self: center;
   
  }
  .title-days{
    min-width: 65%;
  }
 
}
@media (max-width: 975px) {
  .matrix-title-days{
    width:100%;
  }
  
  #matrix-title {
    min-width: 35%;
    
  }
  #matrix-title > p{
    margin: 0;
    font-size: 0.5em;
    padding-top: 0.25em;
    align-self: center;
    
  }
  .title-days{
    min-width: 65%;
  }
 
}  */