body {
    margin: 0;
    font-family: sans-serif; 
    box-sizing: border-box;
}

h1 {
    font-size: 100px;
}

/* Header Section */

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo img {
    height: 100px;
    width: auto;
}

.search-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 40%;
    border: none;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

/* Footer Section */

.footer-content {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer-content a {
    color: #0099ff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}