body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header Section */

.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.logo img {
  height: 100px;
  width: auto;
}

.search-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.search-container input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 40%;
  border: none;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

/* Main Section */

.main-content {
  background-image: url("./images/dailytask.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
}
/* initial matrix */
.matrix{
  display:flex;
}
#initial-matrix{
  max-width: 50%;
}
.categoryName{
  background-color: rgb(169, 132, 203);
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
}
.activityName{
  display: flex;
  flex-direction: row;
  background-color: rgb(218, 214, 222);
  padding: 0.25em;
}
.tasks{
  display: flex;
}
.taskName{
  background-color: rgb(250, 246, 253);
  padding: 0.25em;
  border: 1px solid black;
  font-size: small;
  max-width: 45%;
}
#days-of-month{
  display:flex;
  flex-direction: row;
  border: solid 1px rgb(139, 126, 126);
  min-width: 45%;
  /* min-height: 100%; */
}
#days-of-week{
  display:flex;
  flex-direction: row;
  border: solid 1px rgb(79, 69, 69);
  min-height: 10px;
  min-width: 45%;
  font-size: x-small;
  width: 26px;
}
.numDays{
 /* border: solid 1px rgb(146, 151, 138); */
  width: 1.1em;
}
.days-month{
  display: flex;
  flex-direction: column-reverse;
  font-size: 0.85rem;
  padding: 3px;
  border: solid 1px rgb(71, 67, 67);
}
button{
  background-color: rgb(169, 132, 203);
  border:none;
}

.fa-trash-can{
  color:rgb(169, 132, 203);
}
.fa-trash-can:hover,
.fa-trash-can:active{
  color: #000c0a;
}
/* .weeks{
  border: seagreen solid;

} */

/* Footer Section */

.footer-content {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.footer-content a {
  color: #0099ff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
